[user]
	name = Finn Völkel
	email = finn.volkel@gmail.com
[ghq]
	root = "~/src"
[core]
	editor = emacs
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
